@import "../../../styles/shared.scss";

.main {
  padding: 40px 0;
}

.row {
  grid-column: span 12;
}

.intro {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 24px;
  padding: 32px 0;

  @include small() {
    grid-template-columns: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}

.left,
.right {
  grid-column: span 6;

  @include below-large() {
    grid-column: span 12;
  }
}

.right {
  @include medium() {
    margin-top: 32px;
  }

  @include small() {
    margin-top: 24px;
  }
}

.headline {
  @extend %t-h2;
  display: block;
  position: relative;
  margin: 0;
  grid-column: span 1;
  line-break: anywhere;
  white-space: break-spaces;
  line-break: auto;

  @include large() {
    height: 72px;
  }

  @include medium() {
    height: 48px;
  }

  @include small() {
    height: 48px;
    margin-top: 24px;
  }
}

.headlineInner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  display: -webkit-box;
  width: 100%;
  height: auto;
  max-height: 72px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  background: rgba($c-white, 0.8);
  z-index: 1;
  hyphens: auto;
  word-break: break-word;

  &:hover {
    max-height: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
  }
}

.image {
  &__container {
    // border-radius: 5px;
    // overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    // max-height: 600px;

    @include medium() {
      height: 300px;
    }

    @include small() {
      height: 300px;
    }

    > div {
      border-radius: 5px;
      overflow: hidden;
      position: relative;
    }
  }
}

.action__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  &:visited {
    color: $c-default;
  }

  svg {
    min-width: 20px;
    min-height: 20px;
  }
}

.info,
.size {
  display: flex;
  align-items: center;
  a {
    color: $c-default;
  }

  span {
    margin-left: 8px;
  }

  & + & {
    margin-top: 8px;
  }
}

.features {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 24px;

  @include small() {
    grid-template-columns: 100%;

    div + div {
      margin-top: 16px;
    }
  }
}

.featureList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feature {
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
  cursor: help;

  svg {
    flex-shrink: 0;
  }
}

.featureLabel {
  margin-left: 8px;
}

.license-notice {
  margin-top: 32px;
}

.unknownAuthorNotice {
  margin-top: 8px;
  padding: 16px;
  border-radius: 5px;
  background: #fec5c570;
  color: $c-warning;
}

.tabs {
  position: relative;
  min-height: 175px; /* This part sucks */
  clear: both;
  margin: calc(19px + 8px) 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab {
  float: left;
  white-space: break-spaces;
  line-break: auto;

  &:first-of-type {
    label {
      border-top-left-radius: 5px;
    }
  }

  &:last-of-type {
    label {
      border-top-right-radius: 5px;
    }
  }

  & label {
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    cursor: pointer;
  }

  & [type="radio"] {
    @extend %a-visually-hidden-but-accessible;

    &:checked ~ label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2;
    }
    &:checked ~ label ~ .content {
      z-index: 1;
    }

    &:focus-visible ~ label {
      outline: 2px solid $c-default;
    }
  }
}

.content {
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  //overflow-y: scroll;
  overflow-y: hidden;
  padding-bottom: 36px;

  a {
    color: $c-default;

    &:visited {
      color: $c-default;
    }
  }
}

.scroll__content {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 100%;

  ::selection {
    background: $c-light;
  }

  ::-moz-selection {
    background: $c-light;
  }
}

.tooltip {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  max-width: 400px;
  text-overflow: ellipsis;
}

// .tagsearch {
//   width: 400px;
//   margin-top: 16px;

//   > div {
//     background-color: $c-white;
//   }
// }

.related {
  margin-top: 40px;

  // h2 {
  //   margin-bottom: -16px;
  // }
}

.license {
  &__agreement {
    @extend %t-small;
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
  }
}
