@import "component-styles";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  overflow-x: hidden;
  overflow-y: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(80, 90, 99, 0.5);
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 0;

  @include small() {
    padding: 24px 0;
  }
}

.dialog {
  grid-column: 2 / span 10;
  background: $c-white;
  padding: 0 55px 55px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-radius: 5px;

  @include small() {
    grid-column: span 12;
    width: 100%;
    margin: 24px 0;
    padding: 0 30px 40px;
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.header {
  background: $c-collect;
  display: flex;
  align-items: center;
  margin: 0 -55px;
  padding: 16px 80px 16px 55px;
  min-height: 80px;
  grid-column: span 12;
  border-radius: 5px 5px 0 0;

  @include small() {
    min-height: 80px;
    margin-bottom: -20px;
  }
}

.title {
  margin: 0;
}

.inner {
  grid-column: span 12;
  display: grid;

  @include small() {
    grid-template-columns: 100%;
    display: flex;
    flex-direction: column;
  }
}

.imageContainer {
  grid-column: span 4;
  height: 200px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.body {
  grid-column: span 12;
  margin-top: 32px;
}
