DATABASE_URL=
MAGIC_LINK_SECRET=
FLICKR_API_KEY=
FLICKR_API_SECRET=
ATTRIBUTION_GENERATOR_API=
HOST=
TRANSIFEX_SECRET=
TRANSIFEX_TOKEN=
MAILER=
SEARCH_API_CLIENT_ID=
SEARCH_API_CLIENT_SECRET=
RAPIDMAIL_RECIPIENT_LIST_ID=
RAPIDMAIL_API_USERNAME=
RAPIDMAIL_API_PASSWORD=
