@import "component-styles";

.asset {
  &__container {
    grid-column: span 12;

    @include small() {
      grid-column: span 6;

      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    grid-column: span 2;
    padding-bottom: 81.77%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.2s ease;
    display: grid;

    --shadow-color: 0deg 0% 0%;
    box-shadow: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.03),
      0px 0.6px 0.7px -0.2px hsl(var(--shadow-color) / 0.03),
      0px 1px 1.2px -0.4px hsl(var(--shadow-color) / 0.03),
      0px 1.4px 1.7px -0.7px hsl(var(--shadow-color) / 0.04),
      0px 2px 2.4px -0.9px hsl(var(--shadow-color) / 0.04),
      0.1px 2.7px 3.2px -1.1px hsl(var(--shadow-color) / 0.04),
      0.1px 3.8px 4.6px -1.3px hsl(var(--shadow-color) / 0.04),
      0.1px 5.1px 6.1px -1.6px hsl(var(--shadow-color) / 0.04),
      0.1px 6.9px 8.3px -1.8px hsl(var(--shadow-color) / 0.04),
      0.2px 9.2px 11px -2px hsl(var(--shadow-color) / 0.05);

    &:hover {
      .asset__overlay {
        opacity: 0.5;
      }
    }
  }

  &__overlay {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00af89;
    z-index: 2;
    transition: opacity 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__list {
    display: grid;
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    margin-top: 32px;

    &__headline {
      @extend %t-h1;
      grid-column: span 12;
      margin: 0 0 36px;

      @include small() {
        grid-column: span 6;
      }
    }

    @include medium() {
      grid-template-columns: repeat(6, 1fr);
    }

    @include small() {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
