@import "./colors.scss";
@import "./typography.scss";
@import "./media.scss";

%button--hover {
  background: #080144;
}

%button--disabled {
  cursor: default;
  background: $c-medium;
}

%button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background: $c-dark;
  color: $c-light;
  outline: 0;
  border: 0;
  box-shadow: 0 none;
  padding: 16px;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease background-color;

  &:focus,
  &:hover {
    @extend %button--hover;
  }

  &:disabled {
    @extend %button--disabled;
  }
}

%button--secondary {
  position: absolute;
  right: 0;
  bottom: 0;
  background: $c-light;
  padding: 9px 12px;
  color: $c-default;
  margin-top: 0;

  &:focus,
  &:hover {
    background-color: $c-button-secondary-hover;
  }
}

%button--small {
  @extend %button;
  padding: 9px 12px;

  @include small() {
    padding: 5px 6px;
    font-size: 12px;
  }
}

%button--light {
  background: $c-default;
}

%link-button {
  display: inline;
  font: inherit;
  border: none;
  background: none;
  color: $c-default;
  text-decoration: none;
  transition: color ease 0.15s;
  cursor: pointer;
}
