// blue shades
$c-default: #3a25ff;
$c-dark: #0c0079;
$c-light: #eeeaff;

// areas
$c-topics: #cedaf3;
$c-collect: #c2e1ff;
$c-license: #eeeaff;
$c-import: #fde8f0;

// others
$c-green: #00af89;
$c-yellow: #ffff7d;
$c-success: #52c41a;
$c-warning: #ec0000;
$c-warning-background: #fec5c5;

// black & shades
$c-black: #252525;
$c-medium: #5a5a5a;
$c-low: #dedede;
$c-lower: #f2f2f2;
$c-white: #ffffff;
$c-hover: #505a63;
$c-button-hover: #080144;
$c-preview-stroke: #c5c5c5;

$c-button-secondary-hover: #dbd6f0;
